.top-table-container{
    background-color: #0e1418;
    border: 1px solid #272f37;

    border-radius: 10px;
    min-height: 20px;
    min-width: 320px;
    width: 100%;
}


/* @media (max-width: 1100px) {
  .top-table-container {
    max-height: 1000px;
    overflow-x: auto;
  }
} */

@media (max-width: 700px) {
  .top-table-container-inner{
    width: max-content;
    min-width: 100%;
}
}



.top-table-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    
    gap: 15px;
    color: white;
    font-weight: bold;

    border-bottom: 1px solid #272f37;
}

.top-table-title-icon{
    width: 20px;
    height: 20px;

    margin-left: 15px;
}