.graph-parent-container{
    background-color: #0e1418;
    border: 1px solid #272f37;
    border-radius: 10px;
}

.graph-header{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16;
    border-bottom: 1px solid #272f37;
}