.tournament-entry{
    background-color: #0e1418;
    border: 1px solid #272f37;
    
    border-radius: 10px;
    height: 70px;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 15px;
    margin-top: 5px;

    color: white;
    font-weight: bold;
}

.tournament-entry:hover{
    border: 1px solid rgb(122, 65, 16);
}

.listing-entry-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 65%;

    font-size: 16px;
    font-weight: 100;
    color: rgb(124, 124, 124);

    gap: 7px;
}

.listing-entry-title{
    height: 35%;
}

.listing-entry-title p{
    min-width: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    text-align: left;
}

.tournament-format{
    background-color: #192028;
    border-radius: 10px;
    height: 60%;
    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    align-items: center;
    color: rgb(170, 170, 170);
    font-weight: bold;
}