.top-table-entry{
    display: flex;
    flex-direction: row;
    
    padding-right: 5px;
    justify-content: space-around;
    border-bottom: 1px solid #272f37;

    font-weight: bold;
    gap: 5px;
}

.top-table-entry-header{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    
    padding-right: 5px;

    border-bottom: 1px solid #272f37;

    font-weight: bold;
    gap: 5px;
}

.top-table-entry.expanded{
    background-color: #272f37;
}

.top-table-entry:hover{
    background-color: #272f37;
}

.display-flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table-entry-placing{
    width: 5%;
    min-width: 20;
    color: #8f9aa5;

    justify-content: center;
}

.table-entry-player-name{
    width: 30%;
    min-width: 150px;
    color: white;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-entry-country{
    min-width: 30px;
    width: 8%;
    color: #8f9aa5;
}

.table-entry-deck-name{
    min-width: 125px;
    width: 20%;
    color: white;
}

.table-entry-record{
    width: 10%;
    min-width: 50px;
    color: #8f9aa5;
    justify-content: center;
}

.table-entry-arrow{
    width: 5%;
    min-width: 20px;
    color: #8f9aa5;
    justify-content: center;
}