.card-entry-body{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;

    align-items: center;

    font-size: 12px;
    font-weight: bold;

    height: 20px;
}

.card-entry-count{
    width: 10%;
}

.card-entry-name{
    width: 60%;
    min-width: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-entry-name p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    text-align: left;
}

.card-entry-code{
    width: 30%;
    min-width: 30%;
    white-space: nowrap;

    text-align: right;
}